@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble-sent::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 0 0, transparent 0, transparent 10px, #4CAF50 10px); /* Primary Green */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dark .bubble-sent::after {
    background: radial-gradient(circle at 0 0, transparent 0, transparent 10px, #4CAF50 10px); /* Primary Green */
}

.bubble-received::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 100% 0, transparent 0, transparent 10px, #FFFFFF 10px); /* White */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dark .bubble-received::after {
    background: radial-gradient(circle at 100% 0, transparent 0, transparent 10px, #333333 10px); /* Darker gray for dark mode received */
}